<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="img/favicon.ico">
    <title style="color:ff9800;">SHIRISH ERRA</title>

    <!-- Global stylesheets -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/devicons.min.css" rel="stylesheet">
    <link href="/static/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/style1.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/styles.css" />
</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
       <!-- <span class="d-block d-lg-none  mx-0 px-0"><img src="img/logo-white.png" alt="" class="img-fluid"></span> -->
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/myphoto1.png" alt="">
        </span>
      </a>
	     <style>
	          .name-text{
				  color:#000;font-weight:bold;
				   border-radius: 4px;
			  }
			   .name-text{
				 background:#ccc;
				 opacity:0.9;
			  }
			  .sempara{
			     color: #000;
			  }
	     </style>
	   <p class="name-text" >SHIRISH ERRA<br/> <small class="name-text">Software Engineer</small></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about"></i>About Me</a>
                </li>
			     <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">EXPERIENCE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
			    <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Certifications">Certifications</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Achievements">Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact </a>
                </li>
				<li class="nav-item text-center" ><span style="color:#000;"></span>
                            	<br><a class="" href="https://www.linkedin.com/in/shirish-erra-929683128/"  target="_blank"><img src="/static/linkedin.png" width="30px" height="30px"></a>
					&nbsp &nbsp &nbsp <a class="" href="https://github.com/ShirishErra"  target="_blank"><img src="/static/git.png" width="30px" height="30px"></a>
					&nbsp &nbsp &nbsp<a class="" href="https://www.hackerrank.com/shirisherra" target="_blank"><img src="/static/hackerrank.jpeg" width="30px" height="30px"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

    <!--====================================================
                        ABOUT
    ======================================================-->
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
           <div class="row my-auto">
		      <div class="resume-item col-md-6 col-sm-12">
			    <div class="my-auto" >
				<!--  <img src="img/logo-s.png" class="img-fluid mb-3" alt="">   -->
				  <h1 class="mb-0">Shirish Erra</span>
				  </h1>  <div class="subheading mb-5" style="max-width: 500px;color:#000;">
					 M.Tech, <a href="https://www.iith.ac.in/" target="_blank" >UNIVERSITY OF HYDERABAD</a>
				  </div>
				  <p class="mb-5" style="max-width: 500px;color:#000;" >I am currently Working as a Software Engineer at <a href="http://scis.uohyd.ac.in/" target="_blank">Tata Consultancy Services</a>. </p>
					<h2>Skills and Technologies</h2>
					 <p style="color:#000;">Machine Learning, Data Science, Deep Learning, Python, SQL, BigQuery, Computer Vision, Flask, Keras, Tensorflow, Data Mining, Image Processing, C, Java, Data Structures and Algorithms, HTML, CSS, Angular, Logstash, Spring Boot</p>
					<p style="color:#000;"><br> <br> <a class="download-logo" href="/static/Shirish-Erra-Apr21.pdf" target="_blank">Download My CV <i class="fa fa-download" aria-hidden="true"></i></a></p>
			  </div>

              </div>
			  <div class="resume-item col-md-6 col-sm-12">
                <!--<div class="card mx-0 p-4 mb-5" style="border-color: #ccc; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">-->
                       <img src="/static/myphoto2.jpg" class="img-fluid mb-3" alt="">
                <!--</div>  -->
              </div>
			</div>
      </section>


  <!--====================================================
                           EXPERIENCE
    ======================================================-->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience" >
          <div class="row my-auto" >
              <div class="col-12">
                <h2 class="  text-center">EXPERIENCE</h2>
                <div class="mb-5 heading-border"></div>
              </div>
              <div class="main-award" id="award-box">
                  <div class="award">
                      <div class="award-icon"></div>
                      <div class="award-content">
                          <span class="date">2019 - Present</span>
                          <h5 class="title">Assistant System Engineer, Python Developer</h5>
                          <p class="description">Tata Consultancy Services</p>
                      </div>
                  </div>
                  <div class="award">
                      <div class="award-icon"></div>
                      <div class="award-content">
                          <span class="date">2018 - 2019</span>
                          <h5 class="title">Teaching Assistant</h5>
                          <p class="description">
                             <b> University of Hyderabad </b>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>

    <!--====================================================
                        education
    ======================================================-->
      <section class="resume-section p-3 p-lg-5 " id="education">
          <div class="row my-auto">
              <div class="col-12">
                <h2 class="  text-center">EDUCATION</h2>
                <div class="mb-5 heading-border"></div>
              </div>
              <div class="resume-item col-md-6 col-sm-12 " >
                <div class="card mx-0 p-4 mb-5" style="border-color: #17a2b8; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                  <div class=" resume-content mr-auto">
                      <h4 class="mb-3"><i class="fa fa-graduation-cap mr-3 text-info"></i> M.Tech in Information Technology - 2019</h4>
                      <p>University of Hyderabad
                         My M.Tech thesis advisor is <a href="#" target="_blank">Dr. Anjeneya Swami Kare</a>
					 </p>

				  </div>
                </div>
              </div>
              <div class="resume-item col-md-6 col-sm-12">
                <div class="card mx-0 p-4 mb-5" style="border-color: #ffc107; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                  <div class="resume-content mr-auto">
                      <h4 class="mb-3"><i class="fa fa-graduation-cap mr-3 text-warning"></i>  B.Tech in Information Technology - 2017</h4>
                      <p>Kakatiya Univeristy, Warangal.</p>
                  </div>
                  <div class="resume-date text-md-right">
                  </div>
                </div>
              </div>

      </section>

    <!--====================================================
                        publications
    ======================================================-->
      <section class="publications-section p-3 p-lg-5 d-flex flex-column" id="projects">
          <div class="row my-auto">
              <div class="col-12">
                <h2 class="  text-center">Projects</h2>
				  <div class="mb-5 heading-border"></div>
                 <p class="publications">Power Edge Set Problem on Cactus</p>
		 </br>
     <p class="publications">Group Key Agreements with Local Connectivity</p>
    </br>
    <p class="publications">Fraud Detection</p>
   </br>
   <p class="publications">Mask Detector</p>
  </br>
				 </br>
				 </div>

          </div>

      </section>
      <section class="resume-section p-3 p-lg-5 " id="Certifications">
          <div class="row my-auto">
              <div class="col-12">
                <h2 class="  text-center">Certifications</h2>
                <div class="mb-5 heading-border"></div>
              </div>
              <div class="resume-item col-md-6 col-sm-12 " >
                <div class="card mx-0 p-4 mb-5" style="border-color: #17a2b8; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                  <div class=" resume-content mr-auto">
                      <h4 class="mb-3"> Machine Learning with Python - Mar2021</h4>
                      <p>FreeCodeCamp</p>

          </div>
                </div>
              </div>
              <div class="resume-item col-md-6 col-sm-12 " >
                <div class="card mx-0 p-4 mb-5" style="border-color: #17a2b8; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                  <div class=" resume-content mr-auto">
                      <h4 class="mb-3"> Python - Mar2021</h4>
                      <p>HackerRank</p>

          </div>
                </div>
              </div>

              <div class="resume-item col-md-6 col-sm-12 " >
                <div class="card mx-0 p-4 mb-5" style="border-color: #17a2b8; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                  <div class=" resume-content mr-auto">
                      <h4 class="mb-3"> Neural Networks and Deep Learning - Sep2020</h4>
                      <p>Coursera</p>

          </div>
                </div>
              </div>

              <div class="resume-item col-md-6 col-sm-12 " >
                <div class="card mx-0 p-4 mb-5" style="border-color: #17a2b8; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                  <div class=" resume-content mr-auto">
                      <h4 class="mb-3"> Machine Learning - Jan2020</h4>
                      <p>Coursera</p>

          </div>
                </div>
              </div>

      </section>

	      <!--====================================================
                        Teaching
    ======================================================-->
      <section class=" d-flex flex-column" id="Achievements">
         <div class="p-lg-5 p-3 " style="background:#eee;">
          <h3 class="text-center text-black">Achievements</h3>
		    <div class="mb-5 heading-border"></div>
		     <div class="row">
				<div class="col-md-12">
						<h2 class="semhead">Special Achievement Award - Jan 2021</h2>
						<p></p>
						<p class="sempara"><i>TCS BFSI US East Unit Head</i></p>

						<p class="sempara"> Awarded this for being one of 50 Digital Masters in TCS</p>

				</div>
        <div class="col-md-12">
						<h2 class="semhead">Star Of The Month Award - Aug 2020</h2>
						<p></p>
						<p class="sempara"><i>TCS</i></p>

						<p class="sempara">Awarded this for having T-Factor(The learning measurement factor in TCS) = 4.3</p>

				</div>
        <div class="col-md-12">
						<h2 class="semhead">KU Chess Championship - Jan 2017</h2>
						<p></p>
						<p class="sempara"><i>Kakatiya Univeristy</i></p>

						<p class="sempara">Awarded this for winning the chess championship</p>

				</div>
        <div class="col-md-12">
						<h2 class="semhead">Shotokhan Karate Championship - Aug 2004</h2>
						<p></p>
						<p class="sempara"><i>AndhraPradesh Shotokhan Karate Club</i></p>

						<p class="sempara">Awarded this for winning over the opponent in sparing </p>

				</div>

			 </div>
         </div>
      </section>



    <!--====================================================
                          CONTACT
    ======================================================-->
      <section class="contact-section p-3 p-lg-5 d-flex flex-column" style="background:#ccc;">
          <div class="row my-auto" id="contact" >
            <div class="col-md-12" >

              <div class="row con-form">

                <div class="col-md-4" style="max-width: 500px;color:#000;">
                  <h3><img src="/static/phone.png" width="70px" height="60px"> CONTACT</h3>

                  <p>Mobile : +91-8978039555</p>
                </div>
                <div class="col-md-4" style="max-width: 500px;color:#000;">
					 <h3><img src="/static/email.png" width="60px" height="60px"> Email</h3>

						<address class="address-details-f">
						  Email: <a href="mailto:shirisherra@gmail.com" class="">shirisherra@gmail.com</a>
						</address>
                </div>
              </div>
            </div>
          </div>
      </section>

    </div>

    <!-- Global javascript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/custom.js"></script>
	<script src="/static/js/html5shiv.js"></script>
	<script src="/static/js/rlaccordion.js"></script>
	<script src="/static/js/scripts.js"></script>


</body>

</html>
